{% extends 'base.html' %}

{% block title %} Display Metar {% endblock %}

{% block content%}
    <div class='container'>
        <form method="POST" action="/">
            {{ form.csrf_token }}
            <p><b>{{ form.icao.label }} </b> {{ form.icao.data }}</p>
            <p><b>{{ form.station_name.label }} </b> {{ form.station_name.data }}</p>
            <p><b>{{ form.raw_metar.label }} </b> {{ form.raw_metar.data }}</p>
            <p><b>{{ form.time_zulu.label }} </b> {{ form.time_zulu.data }}</p>
            <p><b>{{ form.wind_dir.label }} </b> {{ form.wind_dir.data }} degrees at {{ form.wind_spd.data }} knots
                gusting to {{form.wind_gusts.data }} knots        </p>
            <p><b> {{ form.visibility.label }}</b> {{ form.visibility.data }} statute miles </p>
            <p><input type="submit" value="Return"> </p>
        </form>
    </div>
{% endblock %}