<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>GET ATIS</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',
         filename='site.css')}}" />
    </head>
    <body>
       <div>
        <form method="POST" action="/">
            {{ form.csrf.token }}
            {%if icao  %} 
                {{ form.icao.label }} {{ form.icao(size=4) }}
                <input type="submit" value="Enter">
        
             {% else %}
                 <span class="message">What station? Provide it after the URL.</span>
             {% endif %}
        </form>        
       </div> 
    </body>
</html>